---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/">
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-5">
        <Link href="/projects" underline={true}>
          projects
        </Link>
        <Link href="/blog" underline={true}>
          blog
        </Link>
      </nav>
    </div>
  </Container>
</header>
